<?xml version="1.0" encoding="utf-8"?>
<configuration  xmlns="schema URL">
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="Rethink_BaseUrl" value="https://stage-rethinkapi.azurewebsites.net"/>
    <add key="Rethink_StudentEndpoint" value="api/children"/>
    <add key="Rethink_ApiKey" value="f6c869277d6b4eaeb9408e90d91ce0a6"/>
  </appSettings>
</configuration>
